<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>predefined global functions</title>
    </head>
    <body>
        {{index . 2}}
        {{index . 0}}
        {{index . 1}}

        <!--
            index
            a func you van use in a template
            it is a "predefined global function"

            Index returs the result of indexing its first argument by the
            following arguments. Thus "index x 1 2 3" is, in GO syntax, 
            x[1][2][3]. Each indexed item must be a map, slice, or array.

            https://godoc.org/text/template#hdr-Functions
        -->
        <!--  FYI -->
        This is a go template comment
        {{/*(index .Wisdom 3).Name*/}}
    </body>
</html>